[submodule "Elevate_Problems/80_Remove_Duplicates_from_Sorted_Array_II"]
	path = Elevate_Problems/80_Remove_Duplicates_from_Sorted_Array_II
	url = https://github.com/madiv9820/80_Remove_Duplicates_from_Sorted_Array_II.git
[submodule "Kickstart_Problems/88_Merge_Sorted_Array"]
	path = Kickstart_Problems/88_Merge_Sorted_Array
	url = https://github.com/madiv9820/88_Merge_Sorted_Array.git
[submodule "Kickstart_Problems/27_Remove_Element"]
	path = Kickstart_Problems/27_Remove_Element
	url = https://github.com/madiv9820/27_Remove_Element.git
[submodule "Elevate_Problems/189_Rotate_Array"]
	path = Elevate_Problems/189_Rotate_Array
	url = https://github.com/madiv9820/189_Rotate_Array.git
[submodule "Kickstart_Problems/169_Majority_Element"]
	path = Kickstart_Problems/169_Majority_Element
	url = https://github.com/madiv9820/169_Majority_Element.git
[submodule "Kickstart_Problems/121_Best_Time_to_Buy_and_Sell_Stock"]
	path = Kickstart_Problems/121_Best_Time_to_Buy_and_Sell_Stock
	url = https://github.com/madiv9820/121_Best_Time_to_Buy_and_Sell_Stock.git
[submodule "Elevate_Problems/122_Best_Time_to_Buy_and_Sell_Stock_II-2"]
	path = Elevate_Problems/122_Best_Time_to_Buy_and_Sell_Stock_II-2
	url = https://github.com/madiv9820/122_Best_Time_to_Buy_and_Sell_Stock_II-2.git
[submodule "Elevate_Problems/55_Jump_Game"]
	path = Elevate_Problems/55_Jump_Game
	url = https://github.com/madiv9820/55_Jump_Game.git
[submodule "Elevate_Problems/45_Jump-Game_II"]
	path = Elevate_Problems/45_Jump-Game_II
	url = https://github.com/madiv9820/45_Jump-Game_II.git
[submodule "Elevate_Problems/274_H-Index"]
	path = Elevate_Problems/274_H-Index
	url = https://github.com/madiv9820/274_H-Index.git
[submodule "Elevate_Problems/238_Product_of_Array_Except_Self"]
	path = Elevate_Problems/238_Product_of_Array_Except_Self
	url = https://github.com/madiv9820/238_Product_of_Array_Except_Self.git
