[submodule "Arrays/Easy_Breezy/Merge_Sorted_Array"]
	path = Arrays/Easy_Breezy/Merge_Sorted_Array
	url = https://github.com/madiv9820/Merge_Sorted_Array.git
[submodule "Arrays/Easy_Breezy/Remove_Element"]
	path = Arrays/Easy_Breezy/Remove_Element
	url = https://github.com/madiv9820/Remove_Element.git
[submodule "Arrays/Easy_Breezy/Remove_Duplicates_from_Sorted_Array"]
	path = Arrays/Easy_Breezy/Remove_Duplicates_from_Sorted_Array
	url = https://github.com/madiv9820/Remove_Duplicates_from_Sorted_Array.git
[submodule "Arrays/Medium_Mystery/Remove_Duplicates_from_Sorted_Array_II"]
	path = Arrays/Medium_Mystery/Remove_Duplicates_from_Sorted_Array_II
	url = https://github.com/madiv9820/Remove_Duplicates_from_Sorted_Array_II.git
[submodule "Arrays/Easy_Breezy/Majority_Element"]
	path = Arrays/Easy_Breezy/Majority_Element
	url = https://github.com/madiv9820/Majority_Element.git
[submodule "Arrays/Medium_Mystery/Rotate_Array"]
	path = Arrays/Medium_Mystery/Rotate_Array
	url = https://github.com/madiv9820/Rotate_Array.git
[submodule "Arrays/Easy_Breezy/Best_Time_to_Buy_and_Sell_Stock"]
	path = Arrays/Easy_Breezy/Best_Time_to_Buy_and_Sell_Stock
	url = https://github.com/madiv9820/Best_Time_to_Buy_and_Sell_Stock.git
[submodule "Arrays/Medium_Mystery/Best_Time_to_Buy_and_Sell_Stock_II"]
	path = Arrays/Medium_Mystery/Best_Time_to_Buy_and_Sell_Stock_II
	url = https://github.com/madiv9820/Best_Time_to_Buy_and_Sell_Stock_II.git
[submodule "Arrays/Medium_Mystery/Jump_Game"]
	path = Arrays/Medium_Mystery/Jump_Game
	url = https://github.com/madiv9820/Jump_Game.git
[submodule "Arrays/Medium_Mystery/Jump_Game_II"]
	path = Arrays/Medium_Mystery/Jump_Game_II
	url = https://github.com/madiv9820/Jump_Game_II.git
[submodule "Arrays/Medium_Mystery/H-Index"]
	path = Arrays/Medium_Mystery/H-Index
	url = https://github.com/madiv9820/H-Index.git
[submodule "Arrays/Medium_Mystery/Insert_Delete_GetRandom_O1"]
	path = Arrays/Medium_Mystery/Insert_Delete_GetRandom_O1
	url = https://github.com/madiv9820/Insert_Delete_GetRandom_O1.git
[submodule "Arrays/Medium_Mystery/Product_of_Array_Except_Self"]
	path = Arrays/Medium_Mystery/Product_of_Array_Except_Self
	url = https://github.com/madiv9820/Product_of_Array_Except_Self.git
[submodule "Arrays/Medium_Mystery/Gas_Station"]
	path = Arrays/Medium_Mystery/Gas_Station
	url = https://github.com/madiv9820/Gas_Station.git
[submodule "Arrays/Hard_Headache/Candy"]
	path = Arrays/Hard_Headache/Candy
	url = https://github.com/madiv9820/Candy.git
[submodule "Arrays/Hard_Headache/Trapping_Rain_Water"]
	path = Arrays/Hard_Headache/Trapping_Rain_Water
	url = https://github.com/madiv9820/Trapping_Rain_Water.git
